# Database Connection (SQLite local development / PostgreSQL for Supabase)
DATABASE_URL="file:./dev.db"

# NexxAPI Casino Integration Credentials
NEXX_API_URL="https://api.nexxapi.tech/api/v1"
NEXX_TOKEN="79b49f0e7f96cb36a53abeba98126bc7"
NEXX_SECRET="67d048e3b071c6e06177054ea7062647"

# JWT Authentication Secret
JWT_SECRET="casino_secret_jwt_key_super_secure_2026"

# App Public Domain
NEXT_PUBLIC_APP_URL="http://localhost:3000"
